@using DexCMS.Core;
@using DexCMS.Tickets.Mvc.Extensions;
@{
    var events = (List<DexCMS.Tickets.Events.Models.Event>)ViewBag.Events;
}

@if (SiteSettings.Resolve.GetSetting("ShowPublicEvents").ToLower() == "true" && events != null && events.Count > 0)
{
    <li class="submenu">
        <a href="#">Events <span class="fa"></span></a>
        @Html.BuildEventList(events)
    </li>
}
