<div class="event-body" ng-controller="RegistrationCtrl">
    <div ng-if="hasCheckedRegistration && registrationOpen">
        <div class="registration-add">
            <nav class="registration-ticket-nav">
                <ul>
                    <li><span ng-class="display=='addTicket'?'active':''" ng-click="display='addTicket'">Add Ticket</span></li>
                    <li><span ng-class="display=='addDiscount'?'active':''" ng-click="display='addDiscount'">Use Discount</span></li>
                    <li><span ng-class="display=='addReservation'?'active':''" ng-click="display='addReservation'">Claim Reservation</span></li>
                </ul>
            </nav>
            <div class="registration-ticket">
                <ttcms-add-ticket ng-if="display=='addTicket'"></ttcms-add-ticket>
                <ttcms-add-discount ng-if="display=='addDiscount' || display=='addReservation'"></ttcms-add-discount>
                <div ng-if="display=='chooseOptions'">
                    <h2>Select your options below or click a button above to add more.</h2>
                </div>
            </div>
        </div>
        <ttcms-list-tickets></ttcms-list-tickets>
        <ttcms-ticket-summary></ttcms-ticket-summary>
    </div>
    <div ng-if="!hasCheckedRegistration">Loading..</div>
    <div ng-if="hasCheckedRegistration && !registrationOpen" ng-bind="registrationDisabledMessage"></div>
</div>